.map {
  /* flex: 5; */
  position: relative;
  border: 1px solid black;
  /* display: flex; */
}

.leaflet-container {
  /* width: 100wh; */
  height: 100%;
}

.leaflet-popup-content-wrapper {
  width: 325px;
  height: 200px;
  overflow-y: auto;
  overflow-x: auto;
}
